{% extends "about/base.html" %}


{% block about %}
<img class="img-fluid p-3 my-4 mx-auto" src="{{url_for('static', filename='Sketch2AIA_Logo_Blue.png')}}" alt=""
    loading="lazy">
<div class="container-fluid text-left p-3">
    <h3>Termos de Serviço</h3>

    <h4 class='my-4'>1. Sua aceitação</h4>
    <p class='my-4'>
        Usando e/ou visitando o Sketch2aia, você concorda com (1) estes termos e condições e (2) nossas regras de
        política de privacidade e quaisquer modificações na mesma.
        Se você não concorda com os Termos de Serviço e Política de Uso, então você não tem permissão de usar e/ou
        visitar este Website.
        Nós reservamos o direito de emendar este Termo de Serviço a qualquer momento.
        Você afirma que é maior de 18 anos e é plenamente capaz e competente para cumprir os termos, condições,
        obrigações, afirmações, representações e garantias
        estabelecidas neste Termos de Serviço e de respeitar e cumprir com este Termo de Serviço.
    </p>

    <h4>2. Permissões e Restrições</h4>
    <p class='my-4'>
        O Sketch2aia por este meio, garante a sua permissão para acessar e fazer uso pessoal do Website conforme
        estabelecido nestes Termos de Serviço,
        mas não para download, modificação do Website ou de nenhuma parte do Website. Você não deve usar o Website para
        fins comerciais.
        Proibições do uso comercial incluem qualquer uma das ações:
    </p>
    <ol type='i'>
        <li>venda de acesso a outros Websites ou seus serviços relacionados, bem como todas as extensões do website;
        </li>
        <li>usar o website com o propósito primário de obter publicidade ou assinaturas de mensalidade.</li>
    </ol>
    <p class='my-4'>
        Você não deve se envolver no uso de cópias, ou distribuição de qualquer Material de Usuário, a não ser que
        expressamente permitido neste documento,
        incluindo qualquer uso, cópia, ou distribuição de qualquer Material de Usuário de terceiros obtidos através do
        Website para quaisquer fins comerciais.
    </p>

    <h4>3. Renúncia de Garantia</h4>
    <p class='my-4'>
        Você concorda que o uso deste Website está por conta do seu risco. O Sketch2aia é provido tal como é sem
        garantias de qualquer espécie. O Sketch2aia renuncia qualquer garantia, expressa ou implícita, na conexão com
        Website e o uso do mesmo. Nós não fazemos nenhuma garantia ou representação sobre a precisão ou veracidade do
        conteúdo ou informação deste site e não assumimos nenhuma obrigação ou responsabilidade por quaisquer erros,
        enganos, opiniões ou imprecisões que diz respeito ao conteúdo, lesões corporais, danos à propriedade de qualquer
        natureza, resultantes de seu acesso e uso do site, qualquer acesso não autorizado ou uso dos nossos servidores
        e/ou toda e qualquer informação e/ou armazenadas nele, qualquer interrupção ou cessação de transmissão de ou
        para o nosso site, qualquer software malicioso que pode ser transmitido para ou através do nosso site por
        terceiros e/ou quaisquer erros ou omissões em qualquer conteúdo ou por qualquer perda ou dano de qualquer tipo
        incorridos como resultado do uso de qualquer conteúdo publicado, enviado, transmitido ou de outra forma
        disponibilizado através do Website. Você concorda em defender, indenizar e isentar de responsabilidade o
        Sketch2aia, de e contra todas e quaisquer ações, reclamações, danos, obrigações, perdas, responsabilidades,
        custos ou dívidas, e despesas (incluindo, sem limitação, honorários advocatícios) decorrentes de ou em conexão
        com:
    </p>
    <ol type='i'>
        <li>seu uso e acesso ao Website;</li>
        <li>violação de qualquer termo ou disposição destes Termos de Serviço;</li>
        <li>qualquer violação de qualquer representação, garantia ou acordo feito por você nestes Termos de Serviço.
        </li>
    </ol>
    <p class='my-4'>
        Esta defesa e obrigação de indenização sobrevive a estes Termos de Uso e ao uso do site. Você decide liberar e
        renunciar a todas e quaisquer reivindicações, responsabilidades, e causas de ação contra o Sketch2aia
        decorrentes de ou em conexão com seu uso do Website.
    </p>
</div>
{% endblock %}