{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mx-auto text-center">
        <div class="col-md">
        </div>
        <div class="col-md-8">
            <img class="img-fluid p-3 my-4 mx-auto" src="{{url_for('static', filename='Sketch2AIA_Logo_Blue.png')}}" alt="" loading="lazy">
            <div class="container-fluid text-center p-3">
                <h1>ERRO</h1>
                <h2>Algo deu errado</h2>
                <p class='my-4'>
                    Verifique se o formato/número de arquivos enviado está correto.
                </p>
            </div>
        </div>
        <div class="col-md">
        </div>
    </div>
</div>
{% endblock %}