{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mx-auto text-center mt-3 mb-3">
        <div class="col-md">
            <div class="row">
                <div class="container">
                    <img class="img-fluid" src="{{url_for('static', filename='CompleteAppSketchExample.png')}}" alt="" loading="lazy">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <h1 class="text-center" style="color: #4A86E8;">1</h1>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="text-center justify-content-center">Faça sketches de cada tela do seu App seguindo os padrões para cada componente</p>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <a href="/newsketch" class="btn btn-lg btn-primary" role="button" style="background-color: #4A86E8;" data-toggle="modal"
                    data-target="#modalComoDesenharSketches">Como desenhar Sketches</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="container">
                    <img class="img-fluid" src="{{url_for('static', filename='TakingPictureExample.png')}}" alt="" loading="lazy">
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <h1 class="text-center" style="color: #4A86E8;">2</h1>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="text-center justify-content-center">Fotografe cada tela separada</p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="container">
                    <img class="img-fluid" src="{{url_for('static', filename='UploadExample.png')}}" alt="" loading="lazy">
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <h1 class="text-center" style="color: #4A86E8;">3</h1>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="text-center justify-content-center">Faça envio de todas as fotos no botão abaixo (Máximo de 6 fotos, em formato JPEG)</p>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" hidden="hidden">
                        <input id="file-picker" type="file" name="sketches" accept=".jpg, .jpeg" multiple>
                    </form>
                    <button type="button" class="btn btn-lg btn-primary" id="upload_button" style="background-color: #4A86E8;">Enviar Fotos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Como desenhar Sketches-->
<div class="modal fade" id="modalComoDesenharSketches" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Como desenhar sketches</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ol>
                <li>Use papel branco liso (sem linhas etc.)</li>
                <li>Use lápis/caneta preta/sharpie preto ou azul (Não use cores para colorir o sketch)</li>
                <li>Desenhe somente a tela em si - não coloque desenho de um dispositivo móvel (celular) ao redor:</li>
                <div class="row justify-content-center my-2">
                    <div class="col">
                        <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='HowTo/SketchWithPhoneBorder.png')}}">
                    </div>
                    <div class="col">
                        <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='HowTo/SketchWithoutPhoneBorder.png')}}">
                    </div>
                </div>
                <li>Não faça anotações nem indique o fluxo entre telas - só desenhe cada tela separada</li>
                <li>Desenhe rapidinho - não precisa cuidar demais (p.ex. linhas podem estar torto etc.)</li>
                <li>Utilize os seguintes exemplos para desenhar cada componente de interface:</li>
                <div class="container-fluid">
                    <div class="text-center mt-2">
                        <text>Botão: Retângulo com texto no centro</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Botao.png')}}">
                    <div class="text-center mt-2">
                        <text>Legenda: Texto ou placeholders</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Legenda.png')}}">
                    <div class="text-center mt-2">
                        <text>Caixa de Texto: Retângulo vazio ou com texto na esquerda</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/CaixaDeTexto.png')}}">
                    <div class="text-center mt-2">
                        <text>Imagem: Retângulo com linhas diagonais</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Imagem.png')}}">
                    <div class="text-center mt-2">
                        <text>Escolhe Lista: Retângulo com uma seta na direita</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/EscolheLista.png')}}">
                    <div class="text-center mt-2">
                        <text>Switch: Basta desenhar o componente</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Switch.png')}}">
                    <div class="text-center mt-2">
                        <text>Caixa de Seleção: Quadrado vazio com texto ao lado</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/CaixaDeSelecao.png')}}">
                    <div class="text-center mt-2">
                        <text>Deslizador: Basta desenhar o componente</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Deslizadores.png')}}">
                    <div class="text-center mt-2">
                        <text>Mapa: Basta desenhar um mapa</text>
                    </div>
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/Mapas.png')}}">
                </div>
                <li>Não desenhe a barra de notificação ou botões do sistema:</li>
                <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/BarraNotificacao.png')}}">
                <li>Imagens e textos podem ser substituídos por placeholders:</li>
                <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/PlaceHolders.png')}}">
                <li>Não desenhe componentes sobrepostos ou imagens de fundo:</li>
                <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/ComponentesSobrepostos.png')}}">
                <li>Pronto, agora você tem um Sketch do seu aplicativo:</li>
                <div class="container mx-auto text-center mt-2">
                    <img class="img-fluid mx-auto my-auto" src="{{url_for('static', filename='ExemplosComponentes/CompleteSketch.png')}}">
                </div>  
            </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Erro Numero de Arquivos -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Número de fotos além do permitido!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="container">
              <img class="img mx-auto d-block mb-4" height="300" width="auto" src="{{url_for('static', filename='RobotError.png')}}" alt="" loading="lazy">
              <p class="text-center justify-content-center">Máximo de 6 fotos.</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #4A86E8;" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Erro Formato de Arquivos -->
<div class="modal fade" id="ModalFormato" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Arquivo Inválido!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <img class="img mx-auto d-block mb-4" height="300" width="auto" src="{{url_for('static', filename='RobotError.png')}}" alt="" loading="lazy">
                <p class="text-center justify-content-center">Apenas arquivos em formato JPEG (.jpg ou .jpeg).</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="background-color: #4A86E8;" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
</div>

<script>
    document.getElementById("upload_button").onclick = function() {
        document.getElementById("file-picker").click();
    };

    document.getElementById("file-picker").onchange = function() {
        if (document.getElementById("file-picker").files.length > 6) {
            $('#exampleModalCenter').modal('show')
            document.getElementById("file-picker").files = []
        } else if (document.getElementById("file-picker").files.length > 0){
            var sel_files  = document.getElementById("file-picker").files;
            var len = sel_files.length;
    
            for (var i = 0; i < len; i++) {

                var file = sel_files[i];
            
                if (!((file.type==='image/jpeg') || (file.type==='image/jpg'))){
                    $('#ModalFormato').modal('show');
                    document.getElementById("file-picker").files = [];
                    return;
                }
            }

            document.getElementById("upload-form").submit();
        }
    };
</script>

{% endblock %}