{% extends "base.html" %}
{% block content %}
<div class="main-div px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="container-fluid">
        <div class="row mx-auto text-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="card-deck text-center">
                    <div class="card mb-4 border-light shadow-sm">
                        <img class="img-fluid" src="{{url_for('static', filename='SketchExample.png')}}" alt=""
                             loading="lazy">
                        <div class="card-body">
                            <h1 style="color: #4A86E8;">1</h1>
                            <p class="lead">Faça sketches de cada tela do seu App seguindo os padrões para cada
                                componente:</p>
                        </div>
                        <a href="/newsketch" class="btn btn-lg btn-block btn-primary" role="button"
                           style="background-color: #4A86E8;">Padrões</a>
                    </div>
                    <div class="card mb-4 border-light shadow-sm">
                        <img class="img-fluid" src="{{url_for('static', filename='SketchExample.png')}}" alt=""
                             loading="lazy">
                        <div class="card-body">
                            <h1 style="color: #4A86E8;">2</h1>
                            <p class="lead">Fotografe cada tela separada.</p>
                        </div>
                    </div>
                    <div class="card mb-4 border-light shadow-sm">
                        <img class="img-fluid" src="{{url_for('static', filename='SketchExample.png')}}" alt=""
                             loading="lazy">
                        <div class="card-body">
                            <h1 style="color: #4A86E8;">3</h1>
                            <p class="lead">Faça envio de todas as fotos clicando no botão abaixo:</p>
                        </div>
                        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" hidden="hidden">
                            <input id="file-picker" type="file" name="sketches" accept=".jpg" multiple>
                        </form>
                        <button type="button" class="btn btn-lg btn-primary" id="upload_button" style="background-color: #4A86E8;">Enviar Fotos</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("upload_button").onclick = function() {
        document.getElementById("file-picker").click();
    };

    document.getElementById("file-picker").onchange = function() {
        document.getElementById("upload-form").submit();
    };
</script>

{% endblock %}