:root {
  --primary: #4A86E8 !important;
}

.container-body {
  display: flex !important; 
  justify-content: space-between !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}